{% extends "base.html" %} {% block content %}

<h1>Explorator - Guided Parachute</h1>
During the Academic Year 2024-2025, I led a sub-team which was tasked with developing a system to guide a parachute to the ground. We wanted to test if a circular parachute could be controlled enough to avoid obstacles, since the landing site has lots of bushes. So, throughout the year I worked on how to make the mechanical system such that it fit in a 10cmx10cm form factor and less than 20cm long. Furthermore, when the parachute unfolds as it falls there is a large shock on the lines, if we were not careful this could burn the servos out. Therefore, I designed a pulley system that would put all of that force into the structure, and not into the servos. The full system diagram is shown in the project report attached below. 
<br><br>
Naturally, I did not do this alone, in fact I organized the task delegation to best teach my sub-team members various engineering lessons. I was able to balance getting the project done and teaching my members as much as I could. 
<br>
<h2><a href="https://mywpi.wpi.edu/HPRC/documents/">HPRC Website - Look under Project Revelatio</a></h2>
    
{% endblock %}