{% extends "base.html" %} {% block content %}

<h1>Designing a Course for Drone Piloting </h1>
One of the two major projects at WPI is the Interactive Qualifying Project, IQP. To complete this project, I worked with a group of three other students in Bemjamín Aceval, Paraguay at the Cerrito School. This school is designed by Fundación Paraguaya as a type of vocational school centered around agriculture and tourism, two of Paraguay's biggest industries.  
<br><br>
Drones have seen an increase in use in agriculture for crop monitoring, pesticide spraying, and seed dispersal. Due to this, the school asked our group to develop an introductory course for drone piloting for the students. To accomplish this, we researched everything we could about what you needed to know to fly a drone, from techniques to basic maintenance, to the regulations to follow in Paraguay. Furthermore, we researched Paraguay itself, its history and culture, so that we could best localize the project to those who it was meant to serve. 
<br><br>
This last point was my biggest takeaway from the project. When in the midst of designing something, it is exceedingly easy to become lost as to what the real goal is. In this case, we were not “Designing a Course for Drone Piloting,” we were “Designing a Course for Drone Piloting FOR the Cerrito School.” The difference may seem minor, but if you do not consider those who would benefit, whether it be students or a customer, you may design your product for the wrong consumer; and a product is only as good as what someone can get out of it. Through this experience, I learned how to understand my “customers” and design for them best; naturally this project was especially helpful as I had to learn what would help people in a different culture than my own and using my second language. 
<br><br>
Overall, this project helped me understand how to remove my blinders when completing a product, and how to work with my end users as opposed to for them. Below you can find our final report as well as a video I took of the school, if you are interested in what it looks like. 
<br>
<h2><a href="https://drive.google.com/file/d/19b41TUEQJJXI6wG0qr7XPPK0Jq3KS-Hj/view?usp=sharing">IQP Project Report</a></h2>
<br>
<h2><a href="https://drive.google.com/file/d/19kZlsXo4C0SmoW9Q_jTQaHEpAaw-NDZ2/view?usp=sharing">Drone Video</a></h2>
    
{% endblock %}