{% extends "base.html" %} {% block content %}

<h1>Micross - Test Engineer Intern</h1>
<br>
During the summer of 2024, I interned with Micross Components, a small company which works on high-reliability RF devices for space applications. During this time, I performed many tests on several different projects, including temperature S parameter tests and over temperature noise figure tests. All of these tests included devices with very high reliability, as such vigilance and proper data collection were paramount.  
<br><br>
In one instance, I found an entire batch of devices was bad and used the documentation of the assembly process to determine the issue during assembly and resolve it. In another instance, I was reached out to by one of our customers who was requesting additional testing on the device, and I was able to return a report to them in less than a day. 
<br><br>
My time here taught me the value of vigilance in every aspect of your work and the value of valuing your customers. After all, they are the ones you are making the product for! Beyond that, I learned how to operate a VNA and a Spectrum Analyzer. 

{% endblock %}
