{% extends "base.html" %} {% block content %}

<h1>Mini Solar Panel Replacement Robot</h1>
RBE 2001 - Manipulation centered around creating 4-bar systems to manipulate objects. In the final project I designed and printed an actuation system to place “solar panels” onto mini “roofs.” While this was a mockup, much of the calculations we had to do were the same as if it were a real system. One of the issues of note is that one of the “solar panels” was about 1 kg in weight, compared to the robot which was at most half that. This meant that our mechanical advantage had to be considerable in order to lift the panel. 
<br><br>
Moreover, I programmed the robot to move along lines and go through a state machine to complete the task. Images and videos of the robot operating are attached below. 

<br>
<h2><a href="https://drive.google.com/file/d/1O2_61dADgcE8hTJSP4SIHQa3SJYMutv_/view?usp=sharing">Robot Approaching Shed and Removing Panel</a></h2>
<br>
<h2><a href="https://drive.google.com/file/d/1J-pCSxS5FO6W4g3oN-uYMOKlUIz6Bj6b/view?usp=sharing">Robot Placing Panel</a></h2>

{% endblock %}